.badge {
    position: fixed;
    right: 5px;
    color: #000;
    border-radius: 50px;
    font-size: 5px;
    width: 91px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 36px;
    top: 5px;
    z-index: 50;
    opacity: 0.7;
}

.badge h4 {
    margin: 0;
    font-size: 16px;
    color: #fff;
}


.badge.silver {
    background: linear-gradient(45deg, #454545, #FFFFFF);

}

.badge.gold {
    background: linear-gradient(to right, #b8860b, #8b7500);

}

.badge.premium {
    /* Your premium badge styles */
    
    background: linear-gradient(45deg, #ff69b4, #ba55d3, #1e90ff, #00fa9a, #ff69b4);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;

}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}