
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');



body{
  background-color: #fff !important;
  scroll-behavior: smooth;
  position: relative;
  overflow-x: hidden;
}

*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Tajawal", sans-serif;
  

}

/* font-family: 'IBM Plex Sans Arabic', sans-serif; */

a{
  text-decoration: none !important;
}

ul{
  list-style: none !important;
  padding: 0 !important;
}


.hide{
  display: none !important;
}


button{




}


.section-header{
  margin-top: 50px !important;
  margin-bottom: 50px !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  direction: rtl;
}


.section-header a{
  font-size: 16px;
  color: #000;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.section-header h1{
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

.swiper-slide{
  width: fit-content !important;
}

.product{
  width: 300px;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.14);
  margin-bottom: 19px;
}
.product img{
  width: 100%;
  height: 170px;
  border-radius: 15px;
  object-fit: cover;
}


.product .text {
  direction: rtl;
  direction: rtl;
  padding: 15px;
}


.product .text a h2{
  text-align: left;
  font-size: 18px;
  font-weight: 700;
  color: #000;
  text-transform: capitalize;
}

.product .text .rate{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  margin-top: 15px;
  direction: ltr;
}

.product .text .rate h3{
  font-size: 22px;
  color: #FF9800;
}


.product .text .rate h3 span{
  color: #adadad;
  font-size: 20px;
}


.product .text .options {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0;
  direction: ltr;
}



.product .text .options h4{
  font-size: 25px;
  font-weight: 600;
  color: #000;
  margin: 0;
  direction: rtl;
  display: flex;
  flex-direction: row-reverse;
  gap: 5px;
  align-items: flex-end;
  direction: ltr;
}

.product .text .options h4 span{
  font-size: 16px;
  color: #a5a5a5;
}


.product .text .options a{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
  border: none;
  outline: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 23px;
  background-color: #ffc83d !important;
  color: #241f21 !important;
}






.cat-product{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 19px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.14);
}


.cat-product img{
  height: 148px;
  width: 170px;
  border-radius: 12px;
  object-fit: cover;
}

.cat-product .text {
  text-align: right;
  padding: 15px;
  width: 100%;
}


.cat-product .text a{

}


.cat-product .text a h2 {
  font-size: 18px;
  font-weight: 700;
  color: #000;
  text-align: left;
  text-transform: capitalize;
}

.cat-product .text .rate h3{
  font-size: 22px;
  color: #FF9800;
  direction: ltr;
  text-align: left;

}


.cat-product .text .rate h3 span{
  color: #adadad;
  font-size: 20px;
}


.cat-product .text .options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  direction: rtl;
}

.cat-product .text .options h4 {
  font-size: 25px;
  font-weight: 600;
  color: #000;
  margin: 0;
  direction: rtl;
  display: flex;
  flex-direction: row-reverse;
  gap: 5px;
  align-items: flex-end;
  direction: ltr;
}

.cat-product .text .options h4 span{
  font-size: 16px;
  color: #a5a5a5;
}


.cat-product .text .options a{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
  border: none;
  outline: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 23px;
  background-color: #ffc83d !important;
  color: #241f21 !important;
}





@media(max-width:900px){
  .product {
    width: 318px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.14);
}
}


@media(max-width:550px){
  .product {
    width: 280px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.14);
}
}



.notification h4 {
  position: fixed;
  bottom: -70px;
  width: 95%;
  height: 50px;
  font-size: 17px;
  color: #fff;
  background-color: #4caf50;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  left: 50%;
  transform: translateX(-50%);
  text-transform: capitalize;
  gap: 5px;
  padding: 5px;
  transition: 0.5s;
}

.notification h4.active{
  bottom: 67px;
  
}

.rate h3 span {
  color: #adadad;
  font-size: 15px !important;
  font-weight: 400 !important;
}



.text-notes{
  width: 100%;
  text-align: left;
  font-size: 15px;
  padding: 15px;
  background-color: #eeeeee87;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid #00000021;
  direction: ltr;
}